@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
:root {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
  overflow-x: hidden ; 
  background: rgb(255,129,81);
  cursor: none;

}

.cursor {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 3px solid rgb(182, 255, 158) ;
  position: fixed;
  transform: translate(-50%,-50%);
  z-index: 999999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.point {
  transition: transform .3s;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: rgb(182, 255, 158) ;
}
.cursor.active .point{
transform: scale(4);
}
.burger-menu {
  transition: transform 1s 300ms;
  background: rgb(10, 39, 0);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2REM;
  right:2rem;
}
.riz {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.saumon {

  position: relative;
  border-radius: 50%;
  height: 67%;
  width: 67%;
 background: rgb(255, 57, 57);
}
.wazabi {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  border-top-right-radius: 100%;
  background: rgb(202,212,124);
  
}
.fish {
  position: absolute;
  bottom: 0;
  right: 0%;
  height: 50%;
  width: 50%;
  border-bottom-right-radius: 100%;
  background: #C7493D;

}
.baguette {
  width: 15rem;
  border-top-right-radius: 80%;
  border-bottom-right-radius: 80%;
  height: .5rem;
  background:	rgb(255,222,173)  ;
  position: absolute;
 top: -1rem;
 right: -1rem;
 transition: top .5s, right .5s;
 z-index: 1;
  pointer-events: none;

}
.b1.active {
  top: 7rem;
  right: 4rem;
}
.b2 {
  transform: rotate(-90deg);
  transform-origin:right;
}
.b2.active {
  top: 4rem;
  right: 7rem;

}
.burger-menu.active {
  transform: rotate(1200deg);
}
nav.main-nav {
  position: fixed;
  width: 35vh;
  height: 35vh;
  border-radius: 100%;
  border-top-right-radius: 0;
  right: 0%;
}
ul.main-ul {
  transition: clip-path 1s;
  z-index: -1;
  width: 100% ;
  height: 100%;
  /* background-color: red; */
  clip-path: circle(40% at 100% 0%);
  border-radius: 100%;
  border-top-right-radius: 0;
  position: relative;
}
.main-ul.active {
  clip-path: circle(125% at 100% 0%);

}
.sushi {
  transition: transform .3s;
  background: rgb(10, 39, 0);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left:30%;
  transform: scale(1);
}
.sushi:hover , .ramen:hover, .other:hover {
  transform: scale(1.2);
}
li.ramen {
  transition: transform .3s;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 15%;
  left:10%;
  background-image: url(https://image.flaticon.com/icons/png/128/872/872395.png?ga=GA1.2.1377421482.1624924800);
  background-position: center;
  background-size: contain;
}
li.other {
  transition: transform .3s;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 55%;
  left:65%;
  background-image: url(https://i.pinimg.com/originals/14/1e/e4/141ee42b8cb4ffe038cf7e223ec8c224.png);
  background-position: center;
  background-size: contain;
}
li span {
  position: absolute;
  top: 83%;
  right: 83%;
  display: none;
  color: #f0f0f0;
  font-weight: bold;
  padding: .3rem;
  border-radius: 1rem;
  height: auto;
  width: auto;
  background-color: rgb(49, 0, 0);
  z-index : 99 ;
  border: rgb(46, 46, 46) solid 1px;
}
li:hover span {
  display: block;
}
h1 {
  font-size: 10rem;
  color: #f0f0f0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50% , -50%);
}